<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启注解扫描,只扫描Controller注解-->
    <context:component-scan base-package="com.hand.ssm" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--配置视图解析器对象-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="${spring-mvc.prefix}" />
        <property name="suffix" value="${spring-mvc.suffix}"/>
    </bean>

    <!--前端控制器,过滤静态资源-->
    <mvc:resources mapping="/static/js/" location="/static/js/**" />
    <mvc:resources mapping="/static/css/" location="/static/css/**" />
    <mvc:resources mapping="/static/images/" location="/static/images/**" />

    <!--配置文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--文件最大上传字节数-->
        <property name="maxUploadSize" value="10485769" />
        <!--文件上传编码-->
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <!--配置异常处理器-->
    <bean id="exceptionHandler" class="com.hand.ssm.exception.ExceptionCatch"></bean>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/ssm/**"/>
            <bean class="com.hand.ssm.interception.MyInterception"></bean>
        </mvc:interceptor>


    </mvc:interceptors>

    <!--开启SpringMVC注解-->
    <mvc:annotation-driven />

    <!--设置可以访问静态资源-->
    <mvc:default-servlet-handler/>
</beans>