<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hand.ssm.mapper.UserMapper">

    <select id="getAllUser" resultMap="com.hand.ssm.mapper.ResultMap.userMap">
        select user.id uid,
               user.name uname,
               role.id rid,
               role.name rname
                    from user LEFT JOIN role on role.uid=user.id;
    </select>

    <select id="getUserByIdAndName" resultMap="com.hand.ssm.mapper.ResultMap.userMap">
        select user.id uid,
               user.name uname,
               role.id rid,
               role.name rname
                    from user LEFT JOIN role on role.uid=user.id where user.id=#{value};
    </select>

</mapper>